:root {
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --accept-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --footer-bg-color: #2f303a;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* Утилиты */
a {
    display: block;
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* Header */

header {
    border-bottom: 1px solid #ececec;
}

.page-header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--black-color);
}

.logo span {
    color: var(--accept-color);
}

.site-nav {
    display: flex;
    margin-left: 85px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current {
    position: relative;
    color: var(--accept-color);
}

.site-nav .current::after {
    position: absolute;
    bottom: -1px;
    display: block;
    content: ' ';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: var(--accept-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accept-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 30px;
}

.contacts .link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts-icon.envelope {
    width: 16px;
    height: 12px;
}

.contacts-icon.smartphone {
    width: 10px;
    height: 16px;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accept-color);
}

/* Футер */
.footer {
    background-color: #2f303a;
    color: var(--white-color);
}

.footer-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-block-contacts {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    margin-bottom: 20px;
    color: var(--white-color);
}

.address > .list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
}

.address-contacts .link {
    margin-top: 9px;
    color: var(--footer-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts .link:hover,
.address-contacts .link:focus {
    color: var(--accept-color);
}

.footer-social-contacts {
    margin-left: 69px;
}

.footer p {
    margin-top: 0;
    margin-bottom: 20px;
}

.call-to-activity {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
}

.footer-social-icons-list {
    display: flex;
    justify-content: center;
}
.footer-social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
    background-color: var(--accept-color);
}

.footer-social-icon {
    fill: currentColor;
}

.input-form {
    display: flex;
}

.email-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 15px 295px 16px 15px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-footer {
    display: flex;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 28px 10px 29px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--accept-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
